@using ArtifitialIntelligence.Models;
@model IEnumerable<ArtifitialIntelligence.Models.Products>


@{
    ViewData["Title"] = "Product Page";
}
<br />


<div class="row">
    <div class="col-6">
        <h2 class="text-info">Product List</h2>
    </div>
    <div class="col-6 text-right">
      
        <a asp-action="Index" class="btn btn-success"> <i class="fa-solid fa-arrow-right-to-bracket"></i>&nbsp; Back to Companies</a>
    </div>
</div>
<br />
<style>
    .ok {
        color: blue;
        font-size: 23px;
    }

    .ok1 {
        font-size: 20px;
        color: red;
        font-weight: bold;
    }
  

   
</style>
<div class="row">
    @foreach (var data in Model)
    {
        <div class="col-4">
            <div class="card-mb-4">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">
                        <label class="ok">@data.Name</label>
                    </h4>
                </div>
                <a asp-action="ProductDetails" asp-controller="Home" asp-route-id="@data.Id" class="btn btn-primary  pull-right btn-outline-info"><img src="~/@data.Image" alt="Card-Image" class="card-img-top" style="height:300px;" /></a>

                
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <label class="ok1">Price : @data.Price</label>
                        </div>
                        <a asp-action="ProductDetails" asp-controller="Home" asp-route-id="@data.Id" class="btn btn-primary  pull-right btn-outline-info"><i class="fa-sharp fa-solid fa-eye"></i>&nbsp; Details</a>
                       @* <td>@Html.ActionLink("Details", "ProductDetails", new {productId=@data.Id})</td>*@
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div>
   @* @Html.PagedListPager(Model,c=>Href("~/Customer/Home/ProductIndex?page="+c),X.PagedList.Web.Common.PagedListRenderOptions.MinimalWithItemCountText)*@
</div>
